
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div> 
        <ul>
            <li>
                @ViewData["Id"]
            </li>
            <li>
                @ViewData["Name"]
            </li>
            <li>
                @ViewData["UnitPrice"]
            </li>
        </ul>
    </div>
</body>
</html>
