
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Ogrenci Index";

}


<p class="text-center">Ogrenci Index</p>

@section  Scripts { 
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
}