
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Kaydet";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ögrenci Kaydet</title>
</head>
<body>
    <div> 
        <p> Öğrenci kaydet</p>
    </div>
</body>
</html>
