
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = "Kaydet";
}


<p> Öğrenci kaydet</p>
@*@{ 
    <p>@ViewData["isim"]</p>
    <p>@ViewBag.Okul</p>
    <p>@TempData["ogretmen"]</p>
}*@
<a href="Ogrenci/Index">Git</a>

