body{
    background-color: #eee;
    font-family: serif;
   
}
.navbar{
    background-color: #EAEAEA;
}
.navbar *{
    color: black;
}
main{
    height: auto;
}
#categories a {
    text-decoration: none;
}
#category:hover{
    background-color: #eee;
}
footer{
    
   padding: 0;
   margin-bottom: 0;
    text-align: center;
    align-items: center;
}
footer p{
    margin-bottom: 0px !important;
    font-size: medium;
}