body{
    background-color: #eee;
    font-family: serif;
   
}
.navbar{
    background-color: #EAEAEA;
}
.navbar *{
    color: black;
}
main{
    height: auto;
}
#categories a {
    text-decoration: none;
}
#category:hover{
    background-color: #eee;
}