body{
    background-color: white;
    display: inline;
    
    
}
#nav{
    padding: 15px;
    
}

#navRight{
    color:white;
    text-align: right;
    float: right;
    text-decoration: none;
}

#navRight a{
    color:white;
    text-decoration: none;
    margin-left: 10px;
    vertical-align: middle;
    line-height: 30px;
   
}
#navLeft{
    color:white;
    text-align: left;
    display: inline;
    
}
#navLeft a{
    color:white;
    text-decoration: none;
    vertical-align: middle;
    line-height: 30px;
}

#main {
    margin:0 auto;
    width: 1200px;
}
#ust{
    margin-top: 20px;
    align-items: center;
    
}

#btnSliderSol,#btnSliderSag
{
  font-size: 60px;
  font-weight: bold;
  font-family: serif;
  width: 5%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: 240px;
  float: left;
}
div#slider{ 
  height: 250px;
  
  float: left;
  display: inline;

}

#orta{  
    margin: 0 auto;
    width: 980px;
    text-align:justify;  
    text-justify:auto;
}
#orta img{
    margin: 15px;
}

#alt{
    padding: 30px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}
#alt a{
    color:white;
    margin: 0 auto;
    text-decoration: none;

}