body{
    font-family: serif;
    margin: 0;
}

.navbar{
    background-color:rgb(236, 236, 236);
    
    height: 60px;
    padding: 10px;
}
#brandicon{
    vertical-align: middle;
    line-height: 60px;
    font-size: 48px;
}

.icon{
    vertical-align: middle;
    line-height: 100px;
    float: left;
}
.con img {
    margin-left: 10px;
}
#searcharea{
    float: right;
    width: 27.5%;
    vertical-align: middle;
    line-height: 50px;
}
#searcharea input{
    width: 200px;
    margin-right: 20px;
    height: 30px;
    border-radius: 10px;
}

.container{
    width: 1200px;
    height: 900px;
    margin-top: 10px;

}
.sol{
    width: 75%;
    height: 100%;
    float: left;
    

}

.sol .post{
    margin: 10px;
    width: 80%;
    height: 200px;
   float: right;
    border-radius: 10px;
    
}
.post-sol {
    width: 20%;
    height: 100%;
    background-color: honeydew;
    border-radius: 5px;
    float: left;
}
.post-sol .material-icons{
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10%;
    font-size: 60px;
}
.post-sol .avatar{
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 10%;
}

.post-sol .name{
font-weight: bold;
display: block;
text-align: center;
}



.post-sag {
    width: 80%;
    height: 100%;
    background-color: honeydew;;
    border-radius: 5px;
    
    float: right;
    
}
.post-sag-ust{
    width: 100%;
    height: 50%;
    
}
.post-sag-alt{
    width: 100%;
    height: 50%;
    padding-top: 10%;
    
}

.post-sag-alt .material-icons{
    margin-left: 10px;
    border-radius: 10%;
   font-size: 20px;
}

.sag{
    width: 20%;
    height: 100%;
    float: right;
  
    
}
.trends{
    width: 80%;
    background-color: honeydew;;
    height: 10%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 10px;
}

footer{
    margin-top: 20px;
    background-color: grey;
     height: 80px;
     text-align: center;
    
}
footer a{
    color:white;
    vertical-align: middle;
    line-height: 80px;
    font-size: 20px;
}